<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppKit</string>
	<key>CFBundleGetInfoString</key>
	<string>mySTEP; Copyright FSF 2003-2005; based on GNUstep and mySTEP; licenced under LGPL</string>
	<key>CFBundleIdentifier</key>
	<string>com.quantum-step.mySTEP.AppKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppKit</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSApplicationSearchPath</key>
	<array>
		<string>/System/Applications</string>
		<string>/System/Library/CoreServices</string>
		<string>~/Applications</string>
		<string>~/Library/Applications</string>
		<string>/Volumes/card/Applications</string>
		<string>/Volumes/card/Library/Applications</string>
		<string>/Volumes/cf/Applications</string>
		<string>/Volumes/cf/Library/Applications</string>
		<string>/Library/Applications</string>
		<string>/Applications</string>
		<string>/Applications/Utilities</string>
		<string>/Developer/Applications</string>
		<string>/Developer/Applications/Utilities</string>
	</array>
	<key>NSFontSearchPath</key>
	<array>
		<string>/opt/QtPalmtop/lib/X11/fonts/75dpi</string>
		<string>/System/Library/Fonts</string>
		<string>/Library/Fonts</string>
		<string>~/Library/Fonts</string>
	</array>
	<key>NSLanguages</key>
	<dict>
		<key>de</key>
		<string>Deutsch</string>
		<key>en</key>
		<string>English</string>
	</dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSystemColorList</key>
	<dict>
		<key>controlBackgroundColor</key>
		<string>whiteColor</string>
		<key>controlColor</key>
		<string>whiteColor</string>
		<key>alternateSelectedControlColor</key>
		<string>whiteColor</string>
		<key>controlHighlightColor</key>
		<string>0.91 0.91 0.91</string>
		<key>selectedControlColor</key>
		<string>0.60 0.75 0.98</string>
		<key>controlLightHighlightColor</key>
		<string>whiteColor</string>
		<key>controlShadowColor</key>
		<string>0.57 0.57 0.57</string>
		<key>controlDarkShadowColor</key>
		<string>blackColor</string>
		<key>controlTextColor</key>
		<string>blackColor</string>
		<key>disabledControlTextColor</key>
		<string>0.53 0.53 0.53</string>
		<key>selectedControlTextColor</key>
		<string>blackColor</string>
		<key>alternateSelectedControlTextColor</key>
		<string>blackColor</string>
		<key>secondarySelectedControlColor</key>
		<string>grayColor</string>
		<key>textBackgroundColor</key>
		<string>whiteColor</string>
		<key>selectedTextBackgroundColor</key>
		<string>0.70 0.85 0.98</string>
		<key>textColor</key>
		<string>blackColor</string>
		<key>selectedTextColor</key>
		<string>blackColor</string>
		<key>gridColor</key>
		<string>grayColor</string>
		<key>headerColor</key>
		<string>0.60 0.75 0.98</string>
		<key>headerTextColor</key>
		<string>blackColor</string>
		<key>highlightColor</key>
		<string>whiteColor</string>
		<key>knobColor</key>
		<string>0.60 0.60 0.73</string>
		<key>scrollBarColor</key>
		<string>whiteColor</string>
		<key>selectedMenuItemColor</key>
		<string>0.16 0.40 0.80</string>
		<key>selectedMenuItemTextColor</key>
		<string>whiteColor</string>
		<key>selectedKnobColor</key>
		<string>0.40 0.40 0.60</string>
		<key>shadowColor</key>
		<string>blackColor</string>
		<key>keyboardFocusIndicatorColor</key>
		<string>0.70 0.85 0.98</string>
		<key>windowBackgroundColor</key>
		<string>0.95 0.95 0.95</string>
		<key>windowFrameColor</key>
		<string>lightGrayColor</string>
		<key>windowFrameTextColor</key>
		<string>blackColor</string>
		<key>blackColor</key>
		<string>0.0 0.0 0.0</string>
		<key>darkGrayColor</key>
		<string>0.333 0.333 0.333</string>
		<key>grayColor</key>
		<string>0.5 0.5 0.5</string>
		<key>lightGrayColor</key>
		<string>0.667 0.667 0.667</string>
		<key>whiteColor</key>
		<string>1.0 1.0 1.0</string>
		<key>blueColor</key>
		<string>0.0 0.0 1.0</string>
		<key>brownColor</key>
		<string>0.6 0.4 0.2</string>
		<key>cyanColor</key>
		<string>0.0 1.0 1.0</string>
		<key>greenColor</key>
		<string>0.0 1.0 0.0</string>
		<key>magentaColor</key>
		<string>1.0 0.0 1.0</string>
		<key>orangeColor</key>
		<string>1.0 0.5 0.0</string>
		<key>purpleColor</key>
		<string>0.5 0.0 0.5</string>
		<key>redColor</key>
		<string>1.0 0.0 0.0</string>
		<key>yellowColor</key>
		<string>1.0 1.0 0.0</string>
		<key>clearColor</key>
		<string>0.0 0.0 0.0 0.0</string>
	</dict>
	<key>NSBuiltinToolbarItems</key>
	<dict>
		<key>NSToolbarSeparatorItem</key>
		<dict>
			<key>Label</key>
			<string></string>
			<key>PaletteLabel</key>
			<string>Separator</string>
			<key>Icon</key>
			<string>NSToolbarSeparator</string>
			<key>MinSize</key>
			<string>{10,10}</string>
			<key>MaxSize</key>
			<string>{10,10}</string>
			<key>Action</key>
			<string></string>
			<key>ToolTip</key>
			<string></string>
		</dict>
		<key>NSToolbarSpaceItem</key>
		<dict>
			<key>Label</key>
			<string></string>
			<key>PaletteLabel</key>
			<string>Space</string>
			<key>Icon</key>
			<string></string>
			<key>MinSize</key>
			<string></string>
			<key>MaxSize</key>
			<string></string>
			<key>Action</key>
			<string></string>
			<key>ToolTip</key>
			<string></string>
		</dict>
		<key>NSToolbarFlexibleSpaceItem</key>
		<dict>
			<key>Label</key>
			<string></string>
			<key>PaletteLabel</key>
			<string>Flexible Space</string>
			<key>Icon</key>
			<string></string>
			<key>MinSize</key>
			<string>{0,0}</string>
			<key>MaxSize</key>
			<string>{9999999,0}</string>
			<key>Action</key>
			<string></string>
			<key>ToolTip</key>
			<string></string>
		</dict>
		<key>NSToolbarShowColorsItem</key>
		<dict>
			<key>Label</key>
			<string>Colors</string>
			<key>PaletteLabel</key>
			<string>Colors</string>
			<key>Icon</key>
			<string>NSToolbarShowColors</string>
			<key>MinSize</key>
			<string></string>
			<key>MaxSize</key>
			<string></string>
			<key>Action</key>
			<string>orderFrontColorPanel:</string>
			<key>ToolTip</key>
			<string></string>
		</dict>
		<key>NSToolbarShowFontsItem</key>
		<dict>
			<key>Label</key>
			<string>Fonts</string>
			<key>PaletteLabel</key>
			<string>Fonts</string>
			<key>Icon</key>
			<string>NSToolbarShowFonts</string>
			<key>MinSize</key>
			<string></string>
			<key>MaxSize</key>
			<string></string>
			<key>Action</key>
			<string>orderFrontFontPanel:</string>
			<key>ToolTip</key>
			<string></string>
		</dict>
		<key>NSToolbarCustomizeToolbarItem</key>
		<dict>
			<key>Label</key>
			<string>Customize</string>
			<key>PaletteLabel</key>
			<string>Customize Toolbar</string>
			<key>Icon</key>
			<string>NSToolbarCustomize</string>
			<key>MinSize</key>
			<string></string>
			<key>MaxSize</key>
			<string></string>
			<key>Action</key>
			<string>runToolbarCustomizationPalette:</string>
			<key>ToolTip</key>
			<string></string>
		</dict>
		<key>NSToolbarPrintItem</key>
		<dict>
			<key>Label</key>
			<string>Print</string>
			<key>PaletteLabel</key>
			<string>Print</string>
			<key>Icon</key>
			<string>NSToolbarPrint</string>
			<key>MinSize</key>
			<string></string>
			<key>MaxSize</key>
			<string></string>
			<key>Action</key>
			<string>print:</string>
			<key>ToolTip</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
