build/
*.pbxuser
*.mode1v3
*.mode2v3
*.mode1
*.perspectivev3
.DS_Store
.svn
.!*!*
*.o
objc2pp/test
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace
# hide other subprojects
GNUstep/
SimpleWebKit/
qemu-wheezy-vexpress/
