<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABGroup</key>
	<dict>
		<key>CreationDateProperty</key>
		<integer>1</integer>
		<key>GroupNameProperty</key>
		<integer>1</integer>
		<key>ModificationDateProperty</key>
		<integer>4</integer>
		<key>UIDProperty</key>
		<integer>4</integer>
	</dict>
	<key>ABPerson</key>
	<dict>
		<key>AIMInstantProperty</key>
		<integer>257</integer>
		<key>AddressProperty</key>
		<integer>262</integer>
		<key>BirthdayProperty</key>
		<integer>4</integer>
		<key>CreationDateProperty</key>
		<integer>1</integer>
		<key>DepartmentProperty</key>
		<integer>1</integer>
		<key>EmailProperty</key>
		<integer>257</integer>
		<key>FirstNamePhoneticProperty</key>
		<integer>1</integer>
		<key>FirstNameProperty</key>
		<integer>1</integer>
		<key>GroupNameProperty</key>
		<integer>1</integer>
		<key>HomePageProperty</key>
		<integer>1</integer>
		<key>ICQInstantProperty</key>
		<integer>257</integer>
		<key>JabberInstantProperty</key>
		<integer>257</integer>
		<key>JobTitleProperty</key>
		<integer>1</integer>
		<key>LastNamePhoneticProperty</key>
		<integer>1</integer>
		<key>LastNameProperty</key>
		<integer>1</integer>
		<key>MSNInstantProperty</key>
		<integer>257</integer>
		<key>MaidenNameProperty</key>
		<integer>1</integer>
		<key>MiddleNamePhoneticProperty</key>
		<integer>1</integer>
		<key>MiddleNameProperty</key>
		<integer>1</integer>
		<key>ModificationDateProperty</key>
		<integer>4</integer>
		<key>NicknameProperty</key>
		<integer>1</integer>
		<key>NoteProperty</key>
		<integer>1</integer>
		<key>OrganizationProperty</key>
		<integer>1</integer>
		<key>OtherDatesProperty</key>
		<integer>260</integer>
		<key>PersonFlags</key>
		<integer>2</integer>
		<key>PhoneProperty</key>
		<integer>257</integer>
		<key>RelatedNamesProperty</key>
		<integer>257</integer>
		<key>SuffixProperty</key>
		<integer>1</integer>
		<key>TitleProperty</key>
		<integer>1</integer>
		<key>UIDProperty</key>
		<integer>4</integer>
		<key>YahooInstantProperty</key>
		<integer>257</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AddressBook</string>
	<key>CFBundleGetInfoString</key>
	<string>mySTEP Address Book Framework; licenced under LGPL</string>
	<key>CFBundleIdentifier</key>
	<string>de.dsitri.mySTEP.AddressBook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AddressBook</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>NSPrincipalClass</key>
	<string>ABAddressBook</string>
</dict>
</plist>
