<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GTA02</key>
	<dict>
		<key>GPS Status</key>
		<string></string>
		<key>GPS Off</key>
		<string>echo &quot;0&quot; &gt;/sys/devices/platform/s3c2440-i2c/i2c-adapter/i2c-0/0-0073/neo1973-pm-gps.0/pwron</string>
		<key>GPS On</key>
		<string>echo &quot;1&quot; &gt;/sys/devices/platform/s3c2440-i2c/i2c-adapter/i2c-0/0-0073/neo1973-pm-gps.0/pwron</string>
		<key>GPS Serial</key>
		<string>/dev/ttySAC1</string>
	</dict>
	<key>Nokia 770</key>
	<dict/>
	<key>Nokia 800</key>
	<dict/>
	<key>Nokia RX-44</key>
	<dict>
		<key> Notes</key>
		<string>Nokia 810</string>
	</dict>
	<key>TI-Perseus2/OMAP730</key>
	<dict>
		<key> Notes</key>
		<string>Letux 380</string>
		<key>Inherit</key>
		<string>Linux</string>
	</dict>
	<key>Acer-N30</key>
	<dict>
		<key> Notes</key>
		<string>I don&apos;t know how to really switch on/off bluetooth transmitter on this device and how to detach the serial interface.</string>
		<key>Bluetooth Off</key>
		<string>echo &quot;0&quot; &gt;/sys/bus/platform/devices/s3c2410-bl/power/state</string>
		<key>Bluetooth On</key>
		<string>echo &quot;1&quot; &gt;/sys/bus/platform/devices/s3c2410-bl/power/state ; hciattach /dev/ttySAC2 bcsp 115200 noflow</string>
		<key>Inherit</key>
		<string>Linux</string>
		<key>IrDA Discovery</key>
		<string>cat /proc/net/irda/discovery</string>
		<key>IrDA Off</key>
		<string>?</string>
		<key>IrDA On</key>
		<string>irattach /dev/ttySAC1 -s</string>
		<key>IrDA Serial</key>
		<string>/dev/ttySAC1</string>
		<key>Product</key>
		<string>Acer n30 with Letux</string>
		<key>Reboot</key>
		<string>?</string>
		<key>Shutdown</key>
		<string>?</string>
		<key>Sleep</key>
		<string>?</string>
	</dict>
	<key>GTA01</key>
	<dict>
		<key>Bluetooth Status</key>
		<string></string>
		<key>Bluetooth Off</key>
		<string>echo &quot;0&quot; &gt;/sys/bus/platform/devices/gta01-pm-bt.0/power_on</string>
		<key>Bluetooth On</key>
		<string>echo &quot;1&quot; &gt;/sys/bus/platform/devices/gta01-pm-bt.0/power_on</string>
		<key>GPS Status</key>
		<string></string>
		<key>GPS Off</key>
		<string>killall gllin</string>
		<key>GPS On</key>
		<string>/home/root/gllin/gllin</string>
		<key>GPS Serial</key>
		<string>/tmp/nmeaNP</string>
		<key>GSM Commands</key>
		<dict/>
		<key>GSM Status</key>
		<string></string>
		<key>GSM Off</key>
		<string>stty -F /dev/ttySAC0 -crtscts; echo &quot;0&quot; &gt;/sys/bus/platform/devices/gta01-pm-gsm.0/power_on; stty -F /dev/ttySAC0 -echo; echo &quot;1&quot; &gt;/sys/bus/platform/devices/gta01-pm-gsm.0/power_on; stty -F /dev/ttySAC0 crtscts; sleep 1; echo -e &quot;AT@POFF\r&quot; &gt;/dev/ttySAC0; sleep 1; stty -F /dev/ttySAC0 -crtscts; echo &quot;0&quot; &gt;/sys/bus/platform/devices/gta01-pm-gsm.0/power_on</string>
		<key>GSM On</key>
		<string>stty -F /dev/ttySAC0 -echo; echo &quot;1&quot; &gt;/sys/bus/platform/devices/gta01-pm-gsm.0/power_on</string>
		<key>GSM Serial</key>
		<string>/dev/ttySAC0</string>
		<key>Inherit</key>
		<string>Linux</string>
		<key>Product</key>
		<string>OpenMoko GTA01</string>
		<key>Reboot</key>
		<string>?</string>
		<key>Shutdown</key>
		<string>?</string>
		<key>Sleep</key>
		<string>(sleep 1; echo mem &gt; /sys/power/state) &amp;&amp; exit</string>
	</dict>
	<key>Linux</key>
	<dict>
		<key>Bluetooth Status Power</key>
		<string>false</string>
		<key>GSM Status</key>
		<string>false</string>
		<key>GPS Status</key>
		<string>false</string>
		<key>IrDA Status</key>
		<string>false</string>
		<key>WLAN Status</key>
		<string>false</string>
		<key> Notes</key>
		<string>Generic Linux entries</string>
		<key>Battery</key>
		<string>/proc/apm</string>
		<key>Bluetooth Status</key>
		<string>/bin/hciconfig</string>
		<key>Bluetooth Tool</key>
		<string>/bin/hcitool</string>
	</dict>
	<key>SL-C1000</key>
	<dict>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>SL-C3000</key>
	<dict>
		<key> Notes</key>
		<string>We must exclude the internal hard drive</string>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>SL-C3100</key>
	<dict>
		<key> Notes</key>
		<string>We must exclude the internal hard drive</string>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>SL-C3200</key>
	<dict>
		<key> Notes</key>
		<string>We must exclude the internal hard drive</string>
		<key>Alias</key>
		<string>Zaurus</string>
		<key>PCMCIA Exclude</key>
		<string>1</string>
	</dict>
	<key>SL-C860</key>
	<dict>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>Sharp Akita</key>
	<dict>
		<key>Inherit</key>
		<string>SL-C1000</string>
	</dict>
	<key>SHARP Borzoi</key>
	<dict>
		<key>Inherit</key>
		<string>SL-C3100</string>
	</dict>
	<key>Sharp Spitz</key>
	<dict>
		<key>Inherit</key>
		<string>SL-C3000</string>
	</dict>
	<key>Zaurus</key>
	<dict>
		<key> Notes</key>
		<string>deprecated entries are: cardctl, PCMCIA, </string>
		<key>GSM Commands</key>
		<dict>
			<key>DIAL_DATA</key>
			<string>at d &quot;%@&quot;</string>
			<key>DIAL_VOICE</key>
			<string>at d &quot;%@;&quot;</string>
			<key>GET_ALL_NETWORKS</key>
			<string>at+cops=?</string>
			<key>GET_NETWORK</key>
			<string>at+cops?</string>
			<key>GET_SIGNAL_QUALITY</key>
			<string>at+csq=?</string>
			<key>HANGUP</key>
			<string>at+chup</string>
			<key>SET_NETWORK</key>
			<string>at+CGDCONT=1,&apos;IP&apos;, &apos;%@&apos;</string>
			<key>SET_PIN</key>
			<string>at+cpin=\&quot;%@\&quot;</string>
		</dict>
		<key>GSM Off</key>
		<string>cardctl 0 suspend</string>
		<key>GSM On</key>
		<string>cardctl 0 resume</string>
		<key>GSM Resumed</key>
		<string>/sbin/setserial %@ uart 16550a</string>
		<key>Inherit</key>
		<string>Linux</string>
		<key>IrDA Discovery</key>
		<string>cat /proc/net/irda/discovery</string>
		<key>IrDA Off</key>
		<string>?</string>
		<key>IrDA On</key>
		<string>irattach /dev/ttyS2 -s 1</string>
		<key>IrDA Serial</key>
		<string>/dev/ttyS2</string>
		<key>PCMCIA Control</key>
		<string>/sbin/cardctl</string>
		<key>PCMCIA Discovery</key>
		<string>cat /var/lib/pcmcia/stab &amp;&amp; /sbin/cardctl ident &amp;&amp; /sbin/cardctl status &amp;&amp; /sbin/cardctl config</string>
		<key>Product</key>
		<string>Sharp Zaurus</string>
		<key>Reboot</key>
		<string>init 0</string>
		<key>SD Control</key>
		<string>/etc/sdcontrol</string>
		<key>Shutdown</key>
		<string>init 6</string>
		<key>Sleep</key>
		<string>echo suspend &gt; /dev/zapmd &amp;</string>
		<key>apm</key>
		<string>/proc/apm</string>
	</dict>
</dict>
</plist>
