<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Acer-N30</key>
	<dict>
		<key>Bluetooth Discovery</key>
		<string>hcitool scan</string>
		<key>Bluetooth Off</key>
		<string>echo "0" &gt;/sys/bus/platform/devices/s3c2410-bl/power/state</string>
		<key>Bluetooth On</key>
		<string>echo "1" &gt;/sys/bus/platform/devices/s3c2410-bl/power/state &amp;&amp; hciattach /dev/ttySAC2 bcsp 115200 noflow</string>
		<key>IrDA Discovery</key>
		<string>cat /proc/net/irda/discovery</string>
		<key>IrDA Off</key>
		<string>?</string>
		<key>IrDA On</key>
		<string>irattach /dev/ttySAC1 -s</string>
		<key>Product</key>
		<string>Acer n30 with Letux</string>
		<key>Shutdown</key>
		<string>?</string>
		<key>Sleep</key>
		<string>?</string>
	</dict>
	<key>GTA01</key>
	<dict>
		<key>Bluetooth Discovery</key>
		<string>hcitool scan</string>
		<key>Bluetooth Off</key>
		<string>echo "0" &gt;/sys/bus/platform/devices/gta01-pm-bt.0/power_on</string>
		<key>Bluetooth On</key>
		<string>echo "1" &gt;/sys/bus/platform/devices/gta01-pm-bt.0/power_on</string>
		<key>Bluetooth Status</key>
		<string>hciconfig</string>
		<key>GSM Commands</key>
		<dict/>
		<key>GSM Off</key>
		<string>echo "0" &gt;/sys/bus/platform/devices/gta01-pm-gsm.0/power_on</string>
		<key>GSM On</key>
		<string>echo "1" &gt;/sys/bus/platform/devices/gta01-pm-gsm.0/power_on</string>
		<key>Product</key>
		<string>OpenMoko GTA01</string>
		<key>Shutdown</key>
		<string>?</string>
		<key>Sleep</key>
		<string>(sleep 1; echo mem &gt; /sys/power/state) &amp;&amp; exit</string>
	</dict>
	<key>SL-C1000</key>
	<dict>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>SL-C3000</key>
	<dict>
		<key> Notes</key>
		<string>We must exclude the internal hard drive</string>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>SL-C3100</key>
	<dict>
		<key> Notes</key>
		<string>We must exclude the internal hard drive</string>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>SL-C3200</key>
	<dict>
		<key> Notes</key>
		<string>We must exclude the internal hard drive</string>
		<key>Alias</key>
		<string>Zaurus</string>
		<key>PCMCIA Exclude</key>
		<string>1</string>
	</dict>
	<key>SL-C860</key>
	<dict>
		<key>Inherit</key>
		<string>Zaurus</string>
	</dict>
	<key>Sharp Akita</key>
	<dict>
		<key>Inherit</key>
		<string>SL-C1000</string>
	</dict>
	<key>Sharp Borzoi</key>
	<dict>
		<key>Inherit</key>
		<string>SL-C3100</string>
	</dict>
	<key>Sharp Spitz</key>
	<dict>
		<key>Inherit</key>
		<string>SL-C3000</string>
	</dict>
	<key>Zaurus</key>
	<dict>
		<key> Notes</key>
		<string>deprecated entries are: cardctl, PCMCIA, </string>
		<key>GSM Commands</key>
		<dict>
			<key>DIAL_DATA</key>
			<string>at d "%@"</string>
			<key>DIAL_VOICE</key>
			<string>at d "%@;"</string>
			<key>GET_ALL_NETWORKS</key>
			<string>at+cops=?</string>
			<key>GET_NETWORK</key>
			<string>at+cops?</string>
			<key>GET_SIGNAL_QUALITY</key>
			<string>at+csq=?</string>
			<key>HANGUP</key>
			<string>at+chup</string>
			<key>SET_NETWORK</key>
			<string>at+CGDCONT=1,'IP', '%@'</string>
			<key>SET_PIN</key>
			<string>at+cpin=\"%@\"</string>
		</dict>
		<key>GSM Off</key>
		<string>cardctl 0 suspend</string>
		<key>GSM On</key>
		<string>cardctl 0 resume</string>
		<key>GSM Resumed</key>
		<string>/sbin/setserial %@ uart 16550a</string>
		<key>IrDA Discovery</key>
		<string>cat /proc/net/irda/discovery</string>
		<key>IrDA Off</key>
		<string>?</string>
		<key>IrDA On</key>
		<string>irattach /dev/ttyS2 -s 1</string>
		<key>PCMCIA Control</key>
		<string>/sbin/cardctl</string>
		<key>PCMCIA Discovery</key>
		<string>cat /var/lib/pcmcia/stab &amp;&amp; /sbin/cardctl ident &amp;&amp; /sbin/cardctl status &amp;&amp; /sbin/cardctl config</string>
		<key>Product</key>
		<string>Sharp Zaurus</string>
		<key>SD Control</key>
		<string>/etc/sdcontrol</string>
		<key>Shutdown</key>
		<string>?</string>
		<key>Sleep</key>
		<string>?</string>
		<key>apm</key>
		<string>/proc/apm</string>
	</dict>
</dict>
</plist>
