$$
/* $FILENAME$ created by $USERNAME$ on $DATE$ */

// Copyright (c) 1997-2000, Sen:te Ltd.  All rights reserved.
//
// Use of this source code is governed by the license in OpenSourceLicense.html
// found in this distribution and at http://www.sente.ch/software/ ,  where the
// original version of this source code can also be found.
// This notice may not be removed from this file.

#import <Foundation/Foundation.h>

@interface $FILENAMESANSEXTENSION$ : NSObject
{

}

@end
